<p-toast></p-toast>
<p-dialog header="New Client" [modal]="true" [(visible)]="showAddAccountFormDialog" [style]="{ width: '35rem' }">
  <form [formGroup]="addAccountFormGroup" (ngSubmit)="saveAccount()">
    <div class="flex align-items-center gap-3 mb-3 mt-3">
      <label for="first-name" class="font-semibold w-6rem">Client ID {{clientId}}</label>
      <input pInputText id="first-name" class="flex-auto" autocomplete="off" formControlName="clientId" required/>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="last-name" class="font-semibold w-6rem">Balance</label>
      <input pInputText id="last-name" class="flex-auto" autocomplete="off" formControlName="balance" required/>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="currency" class="font-semibold w-6rem">Currency</label>
      <input pInputText id="currency" class="flex-auto" autocomplete="off" formControlName="currency" required/>
    </div>
    <div class="flex align-items-center gap-3 mb-5">
      <label for="account-type" class="font-semibold w-6rem">Client Type</label>
      <div class="p-card flex justify-content-center">
        <p-selectButton
          id="account-type"
          [options]="accountTypes"
          formControlName="accountType"
          optionLabel="label"
          optionValue="value" />
      </div>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="dismiss()" />
      <p-button label="Save" type="submit" [disabled]="isSaving || !addAccountFormGroup.valid">
        <p-progressSpinner
          *ngIf="isSaving"
          styleClass="w-1rem h-1rem"
          strokeWidth="8"
          fill="var(--surface-ground)"
          animationDuration=".5s" />
      </p-button>
    </div>
  </form>
</p-dialog>

<p-dialog header="New Transaction" [modal]="true" [(visible)]="showNewTransactionFormDialog" [style]="{ width: '35rem' }">
  <form [formGroup]="newTransactionFormGroup" (ngSubmit)="saveNewTransaction()">
    <div class="flex align-items-center gap-3 mb-3 mt-3">
      <label for="rib-sender" class="font-semibold w-6rem">RIB Sender</label>
      <input pInputText id="rib-sender" class="flex-auto" autocomplete="off" formControlName="ribSender" required/>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="rib-receiver" class="font-semibold w-6rem">RIB Receiver</label>
      <input pInputText id="rib-receiver" class="flex-auto" autocomplete="off" formControlName="ribReceiver" required/>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="amount" class="font-semibold w-6rem">Amount</label>
      <input pInputText id="amount" class="flex-auto" autocomplete="off" formControlName="amount" required/>
    </div>
    <div class="flex align-items-center gap-3 mb-5">
      <label for="account-type" class="font-semibold w-6rem">Transaction Type</label>
      <div class="p-card flex justify-content-center">
        <p-selectButton
          id="transaction-type"
          [options]="transactionTypes"
          formControlName="transactionType"
          optionLabel="label"
          optionValue="value" />
      </div>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="description" class="font-semibold w-6rem">Description</label>
      <input pInputText id="description" class="flex-auto" autocomplete="off" formControlName="description" required/>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="dismiss()" />
      <p-button label="Save" type="submit" [disabled]="isSaving || !newTransactionFormGroup.valid">
        <p-progressSpinner
          *ngIf="isSaving"
          styleClass="w-1rem h-1rem"
          strokeWidth="8"
          fill="var(--surface-ground)"
          animationDuration=".5s" />
      </p-button>
    </div>
  </form>
</p-dialog>

<div class="mt-3 flex justify-content-center">
  <div class="p-card" style="{'min-width': '50rem'}">
    <div class="p-card-title flex justify-content-center p-5">Accounts</div>
    <div class="p-card-body">
      <div class="p-card">
        <div class="justify-content-center flex">
          <p-progressSpinner
            *ngIf="loading"
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s" />
        </div>
        <p-table
          #dt
          [value]="accounts"
          responsiveLayout="stack"
          [breakpoint]="'960px'"
          [paginator]="true"
          [rows]="5"
          [loading]="loading"
          [rowsPerPageOptions]="[5, 10, 20]"
          [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="caption">
            <div class="flex flex-row-reverse justify-content-between">
              <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  #globalFilter
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal(globalFilter.value, 'contains')"
                  placeholder="Search keyword" />
              </p-iconField>
              <p-button
                severity="primary"
                icon="pi pi-plus"
                iconPos="right"
                label="Add account"
                raised
                (onClick)="showAddAccountFormDialog = true"
              />
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>Account Type</th>
              <th>Balance</th>
              <th>RIB</th>
              <th *ngIf="allAccounts" >Client ID</th>
              <th *ngIf="allAccounts">Client Full Name</th>
              <th *ngIf="allAccounts">Client Type</th>
              <th >Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-account let-columns="columns" let-ri="rowIndex">
            <tr>
              <td>
                <span class="p-column-title">#</span>{{account.id}}
              </td>
              <td>
                <p-tag
                  [value]="account.accountType"
                  [severity]="getSeverity(account.accountType)" />
              </td>
              <td>
                <span class="p-column-title">Balance</span>{{account.balance | currency: account.currency}}
              </td>
              <td>
                <span class="p-column-title">RIB</span>{{account.rib}}
              </td>
              <td *ngIf="allAccounts">
                <span class="p-column-title">Client ID</span>{{account.customerInfo.id}}
              </td>
              <td *ngIf="allAccounts">
                <span class="p-column-title">Client Full Name</span>{{account.customerInfo.firstName}} {{account.customerInfo.lastName}}
              </td>
              <td *ngIf="allAccounts">
                <p-tag
                  [value]="account.customerInfo.clientType"
                  [severity]="getClientSeverity(account.customerInfo.clientType)" />
              </td>
              <td>
                <button
                  pButton
                  pRipple
                  pTooltip="Make new transaction"
                  tooltipPosition="top"
                  type="button"
                  icon="pi pi-send"
                  (click)="newTransaction(account.rib, ri)"
                  class="p-button-rounded p-button-text">
                </button>
                <button
                  pButton
                  pTooltip="View account transactions"
                  tooltipPosition="top"
                  pRipple
                  type="button"
                  icon="pi pi-arrow-down-left-and-arrow-up-right-to-center"
                  (click)="viewTransactions(account.rib)"
                  class="p-button-rounded p-button-text">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
