<p-toast position="top-center"/>
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
      <div class="border-circle bg-red-400 inline-flex justify-content-center align-items-center h-6rem w-6rem">
        <i class="pi pi-exclamation-triangle text-white text-5xl"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button
          pButton
          label="Delete"
          (click)="cd.accept()"
          class="w-8rem bg-red-400 border-0">
        </button>
        <button
          pButton
          label="Cancel"
          (click)="cd.reject()"
          class="p-button-outlined w-8rem ">
        </button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<p-dialog  header="New Client" [modal]="true" [(visible)]="newClientVisibleDialog" [style]="{ width: '25rem' }">
  <form [formGroup]="newClientFormGroup" (ngSubmit)="saveClient()">
    <div class="flex align-items-center gap-3 mb-3 mt-3">
      <label for="first-name" class="font-semibold w-6rem">Firstname</label>
      <input pInputText id="first-name" class="flex-auto" autocomplete="off" formControlName="firstName" required/>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
      <label for="last-name" class="font-semibold w-6rem">Lastname</label>
      <input pInputText id="last-name" class="flex-auto" autocomplete="off" formControlName="lastName" required/>
    </div>
    <div class="flex align-items-center gap-3 mb-5">
      <label for="client-type" class="font-semibold w-6rem">Client Type</label>
      <div class="p-card flex justify-content-center">
        <p-selectButton
          id="client-type"
          [options]="clientType"
          formControlName="clientType"
          optionLabel="label"
          optionValue="value" />
      </div>
    </div>
    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="dismiss()" />
      <p-button label="Save" type="submit" [disabled]="isSaving || !newClientFormGroup.valid">
        <p-progressSpinner
          *ngIf="isSaving"
          styleClass="w-1rem h-1rem"
          strokeWidth="8"
          fill="var(--surface-ground)"
          animationDuration=".5s" />
      </p-button>
    </div>
  </form>
</p-dialog>

<div class="container mt-3 flex justify-content-center">
  <div class="p-card" style="{'min-width': '50rem'}">
    <div class="p-card-title flex justify-content-center p-5">Clients</div>
    <div class="p-card-body">
      <div class="p-card">
        <div class="justify-content-center flex">
          <p-progressSpinner
            *ngIf="loading"
            styleClass="w-4rem h-4rem"
            strokeWidth="8"
            fill="var(--surface-ground)"
            animationDuration=".5s" />
        </div>
        <p-table
          #dt
          dataKey="id"
          editMode="row"
          [value]="clients"
          responsiveLayout="stack"
          [breakpoint]="'960px'"
          [paginator]="true"
          [rows]="5"
          [loading]="loading"
          [rowsPerPageOptions]="[5, 10, 20]"
          [globalFilterFields]="['id', 'firstName', 'lastName', 'clientType']"
          [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="caption">
            <div class="flex">
              <p-button label="New Client" (onClick)="newClientVisibleDialog = true"/>
              <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  #globalFilter
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal(globalFilter.value, 'contains')"
                  placeholder="Search keyword" />
              </p-iconField>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>#</th>
              <th>Client Firstname</th>
              <th>Client Lastname</th>
              <th>Client Type</th>
              <th>Actions</th>
            </tr>
            <tr>
              <th>
                <p-columnFilter
                  type="text"
                  field="id"
                  placeholder="Search by id"
                  ariaLabel="Filter id" />
              </th>
              <th>
                <p-columnFilter
                  type="text"
                  field="fistName"
                  placeholder="Search by fist name"
                  ariaLabel="Fist name filter" />
              </th>
              <th>
                <p-columnFilter
                  type="text"
                  field="lastName"
                  placeholder="Search by fist name"
                  ariaLabel="Last name filter" />
              </th>
              <th>
                <p-columnFilter field="clientType" matchMode="equals" [showMenu]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown
                      [ngModel]="value"
                      [options]="clientType"
                      (onChange)="filter($event.value)"
                      placeholder="Select One"
                      [showClear]="true">
                      <ng-template let-option pTemplate="item">
                        <p-tag
                          [value]="option.value"
                          [severity]="getClientSeverity(option.label)" />
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-client let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="client">
              <td>
                <span class="p-column-title">#</span>{{client.id}}
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText type="text"
                      [(ngModel)]="client.firstName"
                      required />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{client.firstName}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input
                      pInputText type="text"
                      [(ngModel)]="client.lastName"
                      required />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{client.lastName}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-dropdown
                      [options]="clientType"
                      appendTo="body"
                      [(ngModel)]="client.clientType"
                      [style]="{'width':'100%'}" />
                  </ng-template>
                  <ng-template pTemplate="output">
                    <p-tag
                      [value]="client.clientType"
                      [severity]="getClientSeverity(client.clientType.toString())" />
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <div class="flex align-items-center justify-content-center gap-2">
                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    (click)="onRowEditInit(client)"
                    class="p-button-rounded p-button-text">
                  </button>
                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-eye"
                    (click)="viewClientAccounts(client.id)"
                    class="p-button-rounded p-button-text">
                  </button>
                  <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-trash"
                    (click)="confirm(client.id, ri)"
                    class="p-button-rounded p-button-text">
                  </button>
                  <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    (click)="onRowEditSave(client.id,client,ri)"
                    class="p-button-rounded p-button-text p-button-success mr-2">
                  </button>
                  <button
                    *ngIf="editing"
                    pButton pRipple
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    (click)="onRowEditCancel(client, ri)"
                    class="p-button-rounded p-button-text p-button-danger">
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

</div>
